$primaryColor: #2C73E8;
$primaryLightColor: #93c5fd;
$primaryDarkColor: #2563eb;
$primaryDarkerColor: #0369a1;
$primaryTextColor: #ffffff;

$highlightBg: #EEF2FF;
$highlightTextColor: $primaryDarkerColor;
$highlightFocusBg: #E0E7FF;

$colors: (
  "blue": #2C73E8,
  "green": #22c55e,
  "yellow": #EAB308,
  "cyan": #06B6D4,
  "pink": #EC4899,
  "indigo": #6366F1,
  "teal": #14B8A6,
  "orange": #F97316,
  "bluegray": #64748B,
  "purple": #A855F7,
  "red": #FF3D32,
  "primary": $primaryColor
);
$shade000:#ffffff;
$shade050:#fafafa;
$shade100:#f5f5f5;
$shade200:#e5e5e5;
$shade300:#d4d4d4;
$shade400:#a3a3a3;
$shade500:#737373;
$shade600:#525252;
$shade700:#404040;
$shade800:#262626;
$shade900:#171717;

$fontFamily:'Inter', sans-serif;
$textColor:$shade900;
$textSecondaryColor:$shade500;

$focusOutlineColor:$shade400;
$focusShadow:0 0 2px 1px $focusOutlineColor;
$secondaryButtonFocusShadow: none;
$infoButtonFocusShadow: none;
$successButtonFocusShadow: none;
$warningButtonFocusShadow: none;
$dangerButtonFocusShadow: none;
$linkButtonFocusShadow: none;

$tabviewNavBorder:1px solid $shade200;
$tabviewHeaderBorder:solid $shade200;
$tabviewHeaderBorderColor:transparent transparent $shade200 transparent;
$tabviewHeaderTextColor:$textSecondaryColor;
$tabviewHeaderHoverBorderColor:$textSecondaryColor;
$tabviewHeaderTextHoverColor:$textSecondaryColor;
$tabviewHeaderActiveBorderColor:$textColor;
$tabviewHeaderTextActiveColor:$textColor;
